services:
  bot:
    build:
      context: .
      args:
        PROD: ${PROD:-false}
        CONFIG_ACCESS_TOKEN: ${CONFIG_ACCESS_TOKEN:-}
        GGLEAP_URL: ${GGLEAP_URL:-}
    restart: always
    depends_on:
      db:
        condition: service_healthy
    networks:
      - internal

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: bot
      POSTGRES_PASSWORD: supersecurepassword
      POSTGRES_DB: nu-esports-bot
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U bot -d nu-esports-bot"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 5
    expose:
      - 5432
    networks:
      - internal
    volumes:
      - ./postgres/init-tables.sql:/docker-entrypoint-initdb.d/init-tables.sql
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:

networks:
  internal:
